.header1 {
  height: 520px;
  width: 100%;
  background-color: #cbb87b;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
}

.pad {
  padding-top: 10px;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
}