sansBold {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}

html {
  color: #545149;
  box-sizing: border-box;
  font-size: 16px;
}

* {
  box-sizing: inherit;
  font-family: "Source Sans 3", sans-serif;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}

body {
  background-color: #f2f1e9;
  background-image: url(http://www.transparenttextures.com/patterns/grey-jean.png);
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main, body .user-feed {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .inside-container, body .user-feed .inside-container {
  width: 90%;
  background-color: #f2f1e9;
  background-image: url(http://www.transparenttextures.com/patterns/grey-jean.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main .inside-container .error-log, body .user-feed .inside-container .error-log {
  font-size: 1em;
  margin-top: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.125rem solid #b22222;
  border-radius: 1rem;
}
body main .inside-container .error-log .error-icon, body .user-feed .inside-container .error-log .error-icon {
  height: 1.5rem;
  padding: 0.25rem;
  color: #b22222;
}
body main .inside-container .error-log #errorLog, body .user-feed .inside-container .error-log #errorLog {
  display: inline;
  padding-inline: 0.8rem;
}

body:before {
  pointer-events: none;
}

#toTop {
  display: inline-block;
  text-align: center;
  border-radius: 0.25rem;
  position: fixed;
  bottom: 1rem;
  right: 0.5rem;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  color: #665829;
  visibility: hidden;
  z-index: 1000;
}

#toTop::after {
  color: transparent;
}

#toTop:active {
  box-shadow: inset;
}

#toTop.show {
  opacity: 0.8;
  visibility: visible;
}

@media only screen and (max-width: 1023px) {
  #mainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (min-width: 1024px) {
  #mainPage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #mainPage .inside-container {
    margin-block-start: 4rem;
    margin-inline-start: 6rem;
    margin-inline-end: 2rem;
  }
}
