.new-tweet {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tweet-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: normal;
  margin: 0 1rem;
}

#tweet-text {
  width: 100%;
  margin-top: 1rem;
  border: 0.2rem solid hsl(0, 0%, 85%);
  border-bottom: 0.2rem solid #42251a;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  background-color: transparent;
  outline: none;
  resize: none;
  display: hide;
}

.tweet-form-bottom {
  margin-top: 0.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  font-family: "Bungee", sans-serif;
}

.tweet-btn {
  height: 1.5em;
  margin-left: 0.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4056a1;
  background-image: url("https://www.transparenttextures.com/patterns/subtle-dots.png");
  color: #f6f3e9;
}

.tweet-btn:hover {
  box-shadow: 0.2rem 0.125rem #42251a;
}

.counter {
  margin-right: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: right;
  font-family: "Bungee", sans-serif;
  color: slategrey;
}
