.tweet-box {
  height: fit-content;
  width: 96%;
  margin: 1rem;
  background-color: #f6f3e9;
  background-image: url("https://www.transparenttextures.com/patterns/dust.png");
  border: 0.2rem solid #42251a;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tweet-box:hover {
  box-shadow: 0.2rem 0.125rem #4056a1;
}

.tweet-head {
  height: 2rem;
  width: 97%;
  padding-top: 0.3rem;
  margin: 0.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* head-right */
}
.tweet-head .tweet-head-left {
  display: flex;
  align-items: center;
}
.tweet-head .tweet-head-left .tweet-avatar {
  height: 2.25rem;
  width: 2.25rem;
  margin: 0.175rem;
  color: #3f549d;
}
.tweet-head .tweet-head-left .tweet-username {
  height: 1.25rem;
  margin: 0.175rem;
  color: #1a2342;
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: center;
}
.tweet-head .tweet-handle {
  height: 1.25rem;
  margin: 0.175rem;
  margin-right: 0.75rem;
  margin-block-start: 0.5rem;
  font-size: 0.8rem;
  color: #1a2342;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tweet-article {
  width: 94%;
  margin: 0.4rem;
  color: #1a2342;
}

.tweet-foot {
  height: 2rem;
  width: 97%;
  margin: 0.4rem;
  border-top: 0.2rem solid #42251a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* foot-left */
}
.tweet-foot .tweet-age {
  height: 1.25rem;
  width: auto;
  margin: 0.175rem;
  font-size: 0.75rem;
  color: #1a2342;
}
.tweet-foot .tweet-foot-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tweet-foot .tweet-foot-right .tweet-flag,
.tweet-foot .tweet-foot-right .tweet-retweet,
.tweet-foot .tweet-foot-right .tweet-love {
  height: 1.25rem;
  width: 1rem;
  margin: 0.175rem;
  color: #3f549d;
}
.tweet-foot .tweet-foot-right .tweet-flag:hover,
.tweet-foot .tweet-foot-right .tweet-retweet:hover,
.tweet-foot .tweet-foot-right .tweet-love:hover {
  color: #665829;
}
